<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="Clubhouse-ejbPU" transaction-type="JTA">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>    
    <jta-data-source>cmsdb</jta-data-source>
    <class>entity.Officers</class>
    <class>entity.Accounts</class>
    <class>entity.Swimmingpools</class>
    <class>entity.Booking</class>
    <class>entity.Saunarooms</class>
    <class>entity.Studyrooms</class>
    <class>entity.Customers</class>
    <class>entity.Gymrooms</class>
    <class>entity.Bbqs</class>
    <class>entity.Complaints</class>
    <properties/>
  </persistence-unit>
</persistence>
